RestaurantWorkfow.json
{
  "name": "RestaurantWorkfow",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst input = raw.body ?? raw;\n\nconst cantidad = Number(input.cantidad || 1);\nconst plato = String(input.plato || '').toLowerCase().trim();\nconst id_comanda = input.id_comanda || `CMD-${Date.now()}`;\n\nif (plato === 'ensalada') {\n  return [\n    {\n      json: {\n        id_comanda,\n        plato: 'Ensalada',\n        cantidad,\n        ingredientes: [\n          { ingrediente: 'Lechuga', consumo: 1 * cantidad },\n          { ingrediente: 'Tomate', consumo: 2 * cantidad },\n          { ingrediente: 'Atun', consumo: 1 * cantidad }\n        ]\n      }\n    }\n  ];\n}\n\nif (plato === 'pasta con atun') {\n  return [\n    {\n      json: {\n        id_comanda,\n        plato: 'Pasta con Atun',\n        cantidad,\n        ingredientes: [\n          { ingrediente: 'Pasta', consumo: 1 * cantidad },\n          { ingrediente: 'Atun', consumo: 1 * cantidad }\n        ]\n      }\n    }\n  ];\n}\n\nthrow new Error(`Plato no soportado: ${input.plato}`);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        32
      ],
      "id": "8977af05-a7e6-4696-95d0-d71bdd077ff9",
      "name": "DefinirReceta"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nreturn data.ingredientes.map(item => ({\n  json: {\n    id_comanda: data.id_comanda,\n    plato: data.plato,\n    cantidad: data.cantidad,\n    ingrediente: item.ingrediente,\n    consumo: item.consumo\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        240
      ],
      "id": "62ad5c0c-9088-47c8-9726-c2b34a0dc819",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appoqsi86cdnaDkgz",
          "mode": "list",
          "cachedResultName": "Restaurant Workflow",
          "cachedResultUrl": "https://airtable.com/appoqsi86cdnaDkgz"
        },
        "table": {
          "__rl": true,
          "value": "tblQZmq4ekOKjz33E",
          "mode": "list",
          "cachedResultName": "Stock",
          "cachedResultUrl": "https://airtable.com/appoqsi86cdnaDkgz/tblQZmq4ekOKjz33E"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Cantidad": "={{ $json.nuevoStock }}",
            "Ingrediente": "={{ $json.Ingrediente }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Ingrediente",
              "displayName": "Ingrediente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cantidad",
              "displayName": "Cantidad",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        928,
        -256
      ],
      "id": "437e761b-51c9-4c33-86bb-47d03fc0886f",
      "name": "Restamos ingredientes de stock",
      "credentials": {
        "airtableTokenApi": {
          "id": "1vHvshdDkVqXbfCA",
          "name": "El bueno"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appoqsi86cdnaDkgz",
          "mode": "list",
          "cachedResultName": "Restaurant Workflow",
          "cachedResultUrl": "https://airtable.com/appoqsi86cdnaDkgz"
        },
        "table": {
          "__rl": true,
          "value": "tblQZmq4ekOKjz33E",
          "mode": "list",
          "cachedResultName": "Stock",
          "cachedResultUrl": "https://airtable.com/appoqsi86cdnaDkgz/tblQZmq4ekOKjz33E"
        },
        "filterByFormula": "={ingrediente} = \"{{ $json.ingredientes[2].ingrediente }}\"",
        "returnAll": false,
        "limit": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        512,
        -256
      ],
      "id": "407ec7b5-545c-4552-8061-298fae5e6cf6",
      "name": "Buscamos ingredientes",
      "credentials": {
        "airtableTokenApi": {
          "id": "1vHvshdDkVqXbfCA",
          "name": "El bueno"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const stockActual = Number($json.Cantidad || 0);\nconst consumo = Number($json.consumo || 0);\n\nconst nuevoStock = $input.first().json.Cantidad - $('DefinirReceta').first().json.ingredientes[0].consumo;\n\nreturn [\n  {\n    json: {\n      ...$json,\n      nuevoStock: Number(nuevoStock)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        -256
      ],
      "id": "64943391-41dd-476c-9673-695b41e46cd3",
      "name": "Calculamos nuevo stock"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Eres un asistente de compras para un restaurante.\n\nTu tarea es decidir cuánta cantidad adicional conviene añadir al pedido de un ingrediente.\n\nDebes responder SOLO con JSON válido.\nNo añadas explicaciones fuera del JSON.\nEl campo \"cantidad_a_anadir\" debe ser siempre un número entero mayor o igual que 0.\nEl campo \"motivo\" debe ser siempre un texto corto."
            },
            {
              "content": "Analiza estos datos y decide cuánto añadir al pedido.\n\nIngrediente: {{$json.ingrediente}}\nConsumo en esta comanda: {{$json.consumo}}\nStock actual disponible: {{$json.stock_actual}}\nCantidad actual acumulada en pedido: {{$json.pedido_actual}}\nContexto estacional: {{$json.contexto_estacional}}\n\nReglas:\n- Si el stock actual es muy alto, añade 0.\n- Si el stock actual es medio, añade una cantidad pequeña.\n- Si el stock actual es bajo, añade una cantidad mayor.\n- No sobrecompres.\n- \"cantidad_a_anadir\" debe ser siempre un número entero.\n- \"motivo\" debe ser siempre un texto corto.\n\nDevuelve SOLO este JSON:\n{\n  \"cantidad_a_anadir\": 0,\n  \"motivo\": \"explicacion corta\"\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1232,
        240
      ],
      "id": "4e04e8a2-4338-485c-b4a4-10d4bd1a3060",
      "name": "Predecir pedido",
      "credentials": {
        "openAiApi": {
          "id": "Wgoib3eXsaHOFd7t",
          "name": "Cuenta GPT"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appoqsi86cdnaDkgz",
          "mode": "list",
          "cachedResultName": "Restaurant Workflow",
          "cachedResultUrl": "https://airtable.com/appoqsi86cdnaDkgz"
        },
        "table": {
          "__rl": true,
          "value": "tblag0gvbIZs9DZKI",
          "mode": "list",
          "cachedResultName": "Order",
          "cachedResultUrl": "https://airtable.com/appoqsi86cdnaDkgz/tblag0gvbIZs9DZKI"
        },
        "filterByFormula": "={Ingrediente} = \"{{ $json.Ingrediente }}\"",
        "returnAll": false,
        "limit": null,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        848,
        240
      ],
      "id": "f8520d28-5bd9-4ee7-9caa-3c13bc32a6ba",
      "name": "Buscar Pedido",
      "credentials": {
        "airtableTokenApi": {
          "id": "1vHvshdDkVqXbfCA",
          "name": "El bueno"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appoqsi86cdnaDkgz",
          "mode": "list",
          "cachedResultName": "Restaurant Workflow",
          "cachedResultUrl": "https://airtable.com/appoqsi86cdnaDkgz"
        },
        "table": {
          "__rl": true,
          "value": "tblQZmq4ekOKjz33E",
          "mode": "list",
          "cachedResultName": "Stock",
          "cachedResultUrl": "https://airtable.com/appoqsi86cdnaDkgz/tblQZmq4ekOKjz33E"
        },
        "filterByFormula": "={Ingrediente} = \"{{$json.ingrediente}}\"",
        "returnAll": false,
        "limit": {},
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        688,
        240
      ],
      "id": "0d8766d5-709d-41d9-aed0-222cf0e30b10",
      "name": "Buscar Inventario",
      "credentials": {
        "airtableTokenApi": {
          "id": "1vHvshdDkVqXbfCA",
          "name": "El bueno"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $json.output?.[0]?.content?.[0]?.text || '';\n\nconst cleaned = text\n  .replace(/```json\\s*/i, '')\n  .replace(/```/g, '')\n  .trim();\n\nconst data = JSON.parse(cleaned);\n\nreturn [\n  {\n    json: {\n      cantidad_a_anadir: Number(data.cantidad_a_anadir || 0),\n      motivo_ia: data.motivo || ''\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        240
      ],
      "id": "9da8ebb5-3cd0-4812-a135-1b251bb268ba",
      "name": "ParseIA"
    },
    {
      "parameters": {
        "jsCode": "const pedidoActual = Number($node[\"Buscar Pedido\"].json[\"Cantidad\"] || 0);\nconst cantidadAnadir = Number($json.cantidad_a_anadir || 0);\nconst idPedido = $node[\"Buscar Pedido\"].json[\"id\"];\n\nreturn [\n  {\n    json: {\n      id: idPedido,\n      nuevo_pedido: pedidoActual + cantidadAnadir,\n      motivo_ia: $json.motivo_ia || ''\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        240
      ],
      "id": "a94d0f11-cc8d-4e3f-bf8f-75c84885fc4d",
      "name": "Calcular nuevo pedido"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appoqsi86cdnaDkgz",
          "mode": "list",
          "cachedResultName": "Restaurant Workflow",
          "cachedResultUrl": "https://airtable.com/appoqsi86cdnaDkgz"
        },
        "table": {
          "__rl": true,
          "value": "tblag0gvbIZs9DZKI",
          "mode": "list",
          "cachedResultName": "Order",
          "cachedResultUrl": "https://airtable.com/appoqsi86cdnaDkgz/tblag0gvbIZs9DZKI"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cantidad": "={{ $json.nuevo_pedido }}",
            "Ingrediente": "={{ $('Both').item.json.ingrediente }}",
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Ingrediente",
              "displayName": "Ingrediente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cantidad",
              "displayName": "Cantidad",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1888,
        240
      ],
      "id": "2fe4d313-33d2-460e-919b-af4cf2d5fcda",
      "name": "Update Pedido",
      "credentials": {
        "airtableTokenApi": {
          "id": "1vHvshdDkVqXbfCA",
          "name": "El bueno"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appoqsi86cdnaDkgz",
          "mode": "list",
          "cachedResultName": "Restaurant Workflow",
          "cachedResultUrl": "https://airtable.com/appoqsi86cdnaDkgz"
        },
        "table": {
          "__rl": true,
          "value": "tblp4lMotoqf55mYf",
          "mode": "list",
          "cachedResultName": "Historic",
          "cachedResultUrl": "https://airtable.com/appoqsi86cdnaDkgz/tblp4lMotoqf55mYf"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Plato": "={{ $json.body.plato }}",
            "Cantidad": "={{ $json.body.cantidad }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Plato",
              "displayName": "Plato",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cantidad",
              "displayName": "Cantidad",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        656,
        -656
      ],
      "id": "e0cd77e4-d9cb-417e-b00e-66b39a907c99",
      "name": "Guardamos pedido",
      "credentials": {
        "airtableTokenApi": {
          "id": "1vHvshdDkVqXbfCA",
          "name": "El bueno"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ingrediente: $node[\"Code in JavaScript\"].json[\"ingrediente\"],\n    consumo: Number($node[\"Code in JavaScript\"].json[\"consumo\"] || 0),\n    stock_actual: Number($node[\"Buscar Inventario\"].json[\"Cantidad\"] || 0),\n    pedido_actual: Number($node[\"Buscar Pedido\"].json[\"Cantidad\"] || 0),\n    contexto_estacional: \"En primavera y verano suelen aumentar los pedidos de ensaladas y platos frescos.\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        240
      ],
      "id": "705c1ed1-7267-4c9a-9dce-22516dd414b5",
      "name": "Both"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "42f57b0e-aff4-47c8-97d4-acf68e913206",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        32
      ],
      "id": "43e5cfbe-1205-4279-8887-1ecc63b69583",
      "name": "Webhook",
      "webhookId": "42f57b0e-aff4-47c8-97d4-acf68e913206"
    }
  ],
  "pinData": {},
  "connections": {
    "DefinirReceta": {
      "main": [
        [
          {
            "node": "Buscamos ingredientes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscamos ingredientes": {
      "main": [
        [
          {
            "node": "Calculamos nuevo stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculamos nuevo stock": {
      "main": [
        [
          {
            "node": "Restamos ingredientes de stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular nuevo pedido": {
      "main": [
        [
          {
            "node": "Update Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseIA": {
      "main": [
        [
          {
            "node": "Calcular nuevo pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Predecir pedido": {
      "main": [
        [
          {
            "node": "ParseIA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardamos pedido": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Buscar Inventario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Inventario": {
      "main": [
        [
          {
            "node": "Buscar Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Pedido": {
      "main": [
        [
          {
            "node": "Both",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Both": {
      "main": [
        [
          {
            "node": "Predecir pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "DefinirReceta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Guardamos pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4f627f29-eb8d-43d0-8e0d-91a296e597a0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f1c0fe4aee9ab0a43ef028fbfe6cb8c522003565e3d20730048ed5b14d6d44c"
  },
  "id": "zXAXVVr7fN1aAI5k",
  "tags": []
}